body {
    background-color: #f6f6f6;
}

.container--summary {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container--tables {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    width: 200px;
    height: 200px;
    text-align: center;
    justify-content: center;
    background-image: url("../img/money.png");
    background-size: contain;
}

.incomes, .outcomes, .list {
    padding: 1%;
    width: 520px;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.incomes-list, .outcomes-list {
    height: 300px;
    width: 500px;
    overflow-y: auto;
}

.bordered {
    border: 1px solid darkgrey;
    margin: 0 auto;
}

.row {
    width: 500px;
}
